LakehouseWarehouseEtlTemplate/Warehouse Refresh.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": "config_WarehouseProcControl"
            },
            "schema": [],
            "linkedService": {
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "dd4cbb4a-9806-4f8a-b0e3-cd39805491f1",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "annotations": []
              },
              "name": "Raw_Data_Lakehouse"
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup Proc Config",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Lookup Proc Config').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[audit].[AddProcExecutionLogStart]",
                "storedProcedureParameters": {
                  "ProcName": {
                    "value": {
                      "value": "@item().Proc",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "StartTime": {
                    "value": {
                      "value": "@utcNow()",
                      "type": "Expression"
                    },
                    "type": "DateTime"
                  }
                }
              },
              "linkedService": {
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "46fd09fd-7b20-4a5f-9daf-7f0441e37f3e",
                    "endpoint": "zkvnqmzj7bkuhj3byvnwfcpwgy-amnamum3bcvexb3raycdbda32u.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "51061a03-089b-4baa-8771-0604308c1bd5"
                  },
                  "annotations": []
                },
                "name": "Data Warehouse",
                "objectId": "46fd09fd-7b20-4a5f-9daf-7f0441e37f3e"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Log Proc Start",
              "dependsOn": []
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": {
                  "value": "@item().Proc",
                  "type": "Expression"
                }
              },
              "linkedService": {
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "46fd09fd-7b20-4a5f-9daf-7f0441e37f3e",
                    "endpoint": "zkvnqmzj7bkuhj3byvnwfcpwgy-amnamum3bcvexb3raycdbda32u.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "51061a03-089b-4baa-8771-0604308c1bd5"
                  },
                  "annotations": []
                },
                "name": "Data Warehouse",
                "objectId": "46fd09fd-7b20-4a5f-9daf-7f0441e37f3e"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Run transform proc",
              "dependsOn": [
                {
                  "activity": "Log Proc Start",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[audit].[AddProcLogExecutionLogEnd]",
                "storedProcedureParameters": {
                  "EndTime": {
                    "value": {
                      "value": "@utcNow()",
                      "type": "Expression"
                    },
                    "type": "DateTime"
                  },
                  "Outcome": {
                    "value": "Success",
                    "type": "String"
                  },
                  "ProcName": {
                    "value": {
                      "value": "@item().Proc",
                      "type": "Expression"
                    },
                    "type": "String"
                  }
                }
              },
              "linkedService": {
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "46fd09fd-7b20-4a5f-9daf-7f0441e37f3e",
                    "endpoint": "zkvnqmzj7bkuhj3byvnwfcpwgy-amnamum3bcvexb3raycdbda32u.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "51061a03-089b-4baa-8771-0604308c1bd5"
                  },
                  "annotations": []
                },
                "name": "Data Warehouse",
                "objectId": "46fd09fd-7b20-4a5f-9daf-7f0441e37f3e"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Log Proc Success",
              "dependsOn": [
                {
                  "activity": "Run transform proc",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[audit].[AddProcLogExecutionLogEnd]",
                "storedProcedureParameters": {
                  "EndTime": {
                    "value": {
                      "value": "@utcNow()",
                      "type": "Expression"
                    },
                    "type": "DateTime"
                  },
                  "Outcome": {
                    "value": "Failure",
                    "type": "String"
                  },
                  "ProcName": {
                    "value": {
                      "value": "@item().Proc",
                      "type": "Expression"
                    },
                    "type": "String"
                  }
                }
              },
              "linkedService": {
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "46fd09fd-7b20-4a5f-9daf-7f0441e37f3e",
                    "endpoint": "zkvnqmzj7bkuhj3byvnwfcpwgy-amnamum3bcvexb3raycdbda32u.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "51061a03-089b-4baa-8771-0604308c1bd5"
                  },
                  "annotations": []
                },
                "name": "Data Warehouse",
                "objectId": "46fd09fd-7b20-4a5f-9daf-7f0441e37f3e"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Log Proc Failure",
              "dependsOn": [
                {
                  "activity": "Run transform proc",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            }
          ]
        },
        "name": "ForEach Proc",
        "dependsOn": [
          {
            "activity": "Lookup Proc Config",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}